
    <input id ="add-new-todo-button" type = "submit" value="add todo">
  <head>
      <title>Todo List Application</title>
      <link rel="stylesheet" href="index.css" type="text/css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="index.js"></script>
  </head>
  <a href = "/todo/new"> add todo </a>
    <h1>
        <img src= "https://lh3.ggpht.com/Z6W1dEVT8aFxWLlwF8a-p_5XrrQ3ej15C5VUFg4JuB_oNnGlO0AHr8irqSxKeDakNoJS" height = 90px width = 90px> </img>
        Workshop Todo List
        </h1>
    <ul id = todos>
      <% @todos.each do |todo| %>
      <li>
        <input type="checkbox" name=""> 
        <a href ="show/ <%=todo.id%>"><%= todo.description%> </a>
        <span> <%=todo.pomodoro_estimate%> </span>
      </li>
      <%end%>
    </ul>
    
    <!--<div id="new-todo-block">-->
    <!--<input type = "text" placeholder="What's your to-do for today?"/>-->
    <!--<input type = "number" placeholder="What's your pomodoro estimate?"/>-->
    <!--<input id="add-new-todo-item" type="submit" placeholder="add to-do"/>-->
    <!--</div>-->
