<html>
    <head>
        <title>
            To-Do List Application
        </title>
    </head>
        <div class="card">
        <input type = "checkbox"/>
        <h2> <%= @todo_description %> </h2>
        <span class= <%= @todo_pomodoro_estimate %> Pomodoro </span>
        <a href="#"> Edit </a>
        <a href="#"> Delete </a>
        <a href="/todo/index"> Go back... </a>
        </div>
</html>
    